{
    "name": "laifu-gif-generator",
    "version": "1.0.0",
    "description": "",
    "main": "./src/frames.js",
    "scripts": {
        "start": "npm run clean && npm run frames && npm run gif:first && npm run extract && npm run border && npm run gif:second",
        "frames": "node ./src/frames.js",
        "clean": "node ./src/clean.js",
        "gif:first": "node ./src/gifski.js 1",
        "border": "node ./src/border.js",
        "extract": "ffmpeg -i ./out/Animation1.gif ./out/resized/frame%04d.png",
        "gif:second": "node ./src/gifski.js 2"
    },
    "author": "",
    "license": "ISC",
    "dependencies": {
        "jimp": "^0.16.1"
    }
}