{
    "dirs": {
        "originalFrames": "C:/main/laifu-gifs/hibike/natsuki/0/frames",
        "originalGif": "C:/main/laifu-gifs/.border-fixes/2479 4.gif",
        "massBorderFixGifs": "C:/main/laifu-gifs/.border-fixes"
    },
    "stage": {
        "frames": {
            "jimpColors": []
        },
        "border": {
            "jimpColors": []
        }
    },
    "script": "",
    "gifski": {
        "1": {
            "quality": 100,
            "fps": 24,
            "width": 225,
            "height": 350
        },
        "2": {
            "quality": 100,
            "fps": 10,
            "width": 225,
            "height": 350
        }
    }
}